body {
	font-family: Verdana;
	width: 600px;
	max-width: 600px;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: right;
}

html {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.label {
	display: block;
	width: 200px;
	max-width: 200px;
	float: left;
}

table {
	width: 600px;
	max-width: 600px;
	margin: auto 0 auto 0;
	text-align: left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.description {
	text-align: left;
	width: 400px;
	max-width: 400px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.cel1 {
	width: 100px;
	max-width: 100px;
	text-align: right;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

#infos {
	margin: 10px 75px 10px 75px;
	width: 450px;
	max-width: 450px;
	text-align: left;
}

#bouton {
	margin: 10px 250px 10px 250px;
	width: 100px;
	max-width: 100px;
}

.checkbox {
	width: 25px;
	max-width: 25px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.alert {
	width: 600px;
	padding: 10px;
	border: 2px solid red;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(255, 0, 0, 0.3);
	color: red;
}